@charset "UTF-8";

.depoimento__container{
    background-color: var(--color-transparent-box1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;
    border-radius: 1rem;
    padding: 4rem;
}

.depoimento__secao{
    color: var(--color-theme1);
    font-size: 0.85rem;
    font-weight: 600;
}

.depoimento__texto{
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 110%;
    color: var(--color-theme2);
    text-wrap: balance;
}

.autor__nome{
    font-weight: 500;
    color: var(--color-theme2);
}

.autor__profissao{
    font-size: 0.85rem;
    color: var(--color-theme3);
}