@charset "UTF-8";

.vagas{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vagas__nome-secao{
    display: block;
    background-color: var(--color-transparent-box1);
    border-radius: 2rem;
    font-size: 0.85rem;
    font-weight: 600;
    color:var(--color-theme1);
    text-align: center;
    padding: 0.2rem 1rem;
}

.vagas__titulo{
    font-size: 2.25rem;
    font-weight: 600;
    color: var(--color-theme2);
    line-height: 125%;
    text-align: center;
    margin: 1rem 0;
}

.vagas__texto{
    font-size: 1.25rem;
    color: var(--color-theme3);
    text-align: center;
    text-wrap: balance;
    width: 65%;
}

.vagas__imagem{
    margin: 3rem 0;
    width: 100%;
}

.vagas__vitrine{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 0 auto;
    width: 60%;
}

.vagas__vitrine__titulo{
    font-size: 1.25rem;
    font-weight: 500;
    color:var(--color-theme2);
    margin-top: 1rem;
}

.vagas__vitrine__anuncio{
    display: block;
    padding: 1.5rem 1rem;
    border: 1px solid var(--color-gray2);
    border-radius: 1rem;
    text-decoration: none;
}

.vagas__vitrine__anuncio:hover{
    background-color: var(--color-gray3);
    cursor: pointer;
}

.anuncio__titulo{
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--color-theme2);
    margin-bottom: 1.5rem;
}

.anuncio__descricao{
    display: flex;
    gap: 1rem;
}

.anuncio__descricao__item{
    color: var( --color-theme3);
    font-weight: 500;
}