@charset "UTF-8";
@import url(css/cabecalho.css);
@import url(css/principal.css);
@import url(css/sobre.css);
@import url(css/vagas.css);

:root{
    /*CORES*/
    --color-bg:rgb(255, 255, 255);/*#FFFFFF*/
    --color-bg2:rgb(249, 250, 251);/*#F9FAFB*/
    --color-principal:rgb(142, 36, 36);/*#8E2424*/
    --color-titulo:rgb(16, 24, 40);/*#101828*/
    --color-texto: rgb(102, 112, 133);/*#667085*/
    --color-box:rgba(195, 25, 25, 0.03);/*#C31919 3%*/
    --color-texto-logo:rgb(58, 64, 78);/*#3A404E*/

    /*FONTES*/
    --fonte-principal:"Inter", sans-serif;
}

body{
    font-family:var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
}
